/*-- scss:defaults --*/

$link-color: #be830e;
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

#title-slide .title {
  text-align: left!important;
  font-size: 2em!important;
  color: #be830e;
}

#title-slide .subtitle {
  text-align: left!important;
  font-size: 1.2em!important;
  color: #be830e;
  width: 80%;
}

#title-slide .quarto-title-authors {
  text-align: left!important;
  display: block;
}

#title-slide .date {
  text-align: left!important;
  font-size: 0.6em!important;
}

#title-slide .slide-logo {
  display: none!important;
}


.slide-number, .reveal.has-logo .slide-number {
  bottom: 14px !important;
  right: 14px !important;
  top: unset !important;
  color: #777777 !important;
  font-size: 0.25em!important;
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  right: 40px !important;
  bottom: 4% !important;
  height: 5% !important;
  width: auto !important;
  overflow: visible;
}

.slide-logo:before, .slide-logo:after {
  background-color: #000;
  content: "test";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 4%;
  width: 400px;
}


.anu-gold { color: #be830e!important; }
.anu-black { color: #000000!important; }
.anu-white { color: #ffffff!important; }
.anu-dgrey1 { color: #0d0d0d!important; }
.anu-dgrey2 { color: #191919!important; }
.anu-lgrey1 { color: #e6e6e6!important; }
.anu-lgrey2 { color: #f2f2f2!important; }
.anu-tgold { color: #f5edde!important; }

.anu-bg-gold { background-color: #be830e!important; }
.anu-bg-black { background-color: #000000!important; }
.anu-bg-white { background-color: #ffffff!important; }
.anu-bg-dgrey1 { background-color: #0d0d0d!important; }
.anu-bg-dgrey2 { background-color: #191919!important; }
.anu-bg-lgrey1 { background-color: #e6e6e6!important; }
.anu-bg-lgrey2 { background-color: #f2f2f2!important; }
.anu-bg-tgold { background-color: #f5edde!important; }

